body {
    background: #7c97ae;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: rgb(228, 222, 222);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(111, 3, 3, 0.805);
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  input[type="date"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #0078d4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005fa3;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    color: #111010;
  }
  